.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 32px;
  padding: 20px 40px;
  background-color: var(--primary-color);
  overflow-x: hidden;

  .explore-more {
    position: absolute;
    bottom: 20px;
    cursor: pointer;
  }
}

.logo {
    color: #FFFDF3;
}

.nav-item {
  margin: 0 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #FFFDF3;

  &:hover {
    color: #F1ECCE;
    text-decoration: underline;
  }
}
