<div class="results-section" id="photos">
  <div class="photo-grid">
    <a href="{{ config.base_url | safe }}/images/lsc26/PXL_20260616_131325337.jpg" target="_blank">
      <img src="{{ config.base_url | safe }}/images/lsc26/PXL_20260616_131325337.jpg" alt="LSC'26 event photo 1" loading="lazy">
    </a>
    <a href="{{ config.base_url | safe }}/images/lsc26/PXL_20260616_144542320.jpg" target="_blank">
      <img src="{{ config.base_url | safe }}/images/lsc26/PXL_20260616_144542320.jpg" alt="LSC'26 event photo 2" loading="lazy">
    </a>
    <a href="{{ config.base_url | safe }}/images/lsc26/PXL_20260616_144559275.jpg" target="_blank">
      <img src="{{ config.base_url | safe }}/images/lsc26/PXL_20260616_144559275.jpg" alt="LSC'26 event photo 3" loading="lazy">
    </a>
    <a href="{{ config.base_url | safe }}/images/lsc26/PXL_20260616_152545265.jpg" target="_blank">
      <img src="{{ config.base_url | safe }}/images/lsc26/PXL_20260616_152545265.jpg" alt="LSC'26 event photo 4" loading="lazy">
    </a>
  </div>
</div>
