<style>
    :root {
        /* Primary theme color */
        --primary-color: #7D4282;
        --primary-contrast-text: #FFFDF3;
        --primary-contrast-text-over: #F1ECCE;

        /* Primary theme text color */
        --primary-text-color: #4b454f;
        --primary-text-color-over: #000;
        /* Primary theme link color */
        --primary-link-color: #7d4282;
        /* Secondary color: the background body color */
        --secondary-color: #fcfaf6;
        --secondary-text-color: #303030;
        /* Highlight text color of table of content */
        --toc-highlight-text-color: #7d4282;
        --toc-background-color: white;
        --code-color: white;
        --code-background-color: transparent;
        --shadow-color: #ddd;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --primary-color:#5A3C66;
            --primary-text-color: #EEE5E9;
            --primary-text-color-over: #FFF;
            --primary-link-color: #42E2B8;
            --secondary-color: #212022;
            --secondary-text-color: #f2f2f2;
            --toc-highlight-text-color: #C36FA2;
            --toc-background-color: #2b2b2d;
            --code-color: white;
            --code-background-color: transparent;

            --shadow-color: #202020;
            --header-font-family: "Fira Sans", sans-serif;
            --text-font-family: "Fira Sans", sans-serif;
        }
    }
</style>
